aiofiles==0.6.0
aniso8601==7.0.0
ansible==3.0.0
ansible-base==2.10.6
astroid==2.5.1
async-exit-stack==1.0.1
async-generator==1.10
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.6
dnspython==2.1.0
email-validator==1.1.2
fastapi==0.52.0
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
h11==0.12.0
idna==2.10
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.5.2
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.9
promise==2.3
pycparser==2.20
pydantic==1.8.1
pylint==2.7.2
pyparsing==2.4.7
python-multipart==0.0.5
PyYAML==5.4.1
requests==2.25.1
Rx==1.6.1
six==1.15.0
starlette==0.13.2
toml==0.10.2
typing-extensions==3.7.4.3
ujson==4.0.2
urllib3==1.26.3
uvicorn==0.13.4
wrapt==1.12.1
